body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(74, 114, 40);
    color: white;
    background-image: url("/uploads/images/Commun/fond.jpeg");
    background-size: cover; 
    display: flex;
    flex-direction: column;
}
h1{
    color: white;
}
input:focus, textarea:focus, button:focus {
    outline: 2px solid #309f50; /* Met en évidence le champ sélectionné */
}

@media only screen and (max-width: 900px) {

    .nav-menu {
        display: none;
    }
    
    .nav-menu.active {
        display: block;
    }
}

@media only screen and (min-width: 901px) {
.menu-btn {
    display: none;
}
}

/* ANIMAL_LIST RESPONSIVE*/

.animals{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}
.animal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.656);
    margin-bottom: 1%;
    align-items: center;
}
.animal div{
    text-align: center;
}
.animal img{
    width: 30%;
    margin-bottom: 1%;
}

/*FOOTER*/
.footer-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #000000;
    color: #ffffff;

}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    text-align: center;
}


  
.footer-links a {
    color: white;
    text-decoration: none;
}
/* MENU + TITRE MOBILE */
@media only screen and (max-width: 600px) {

    h2 {
        color: white;
    }
    .menu-btn {
        display: block;
        background-color: #07522F;
        border: none;
        border-radius: 5px;
        width: 30%;
        color: white;
        font-family: fantasy;
        font-size: 100%;
        height: 100%;
        padding: 1%;

    }
    .menuTitreMobile h1{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }  
    .nav-menu {
        display: none;
    }
    .menu-btn:hover{
        background-color: #309f50;
    } 
    .nav-menu.active {
        display: block;
        position: absolute;
        top:6%;
        left: 0;
        background-color: #07522F;
        width: 40%; 
        border-radius: 0 0 5px 5px; 
        border: solid white 1px;
    }
          
    .nav-menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    .menuTitreMobile{
        display: flex;
        background-color: #07522F;
        height:6%;
        width: 100%;
        min-height: 6%;

    }
    h1{
        text-align: center;
    }    
}
/* HABITAT RESPONSIVE*/
.habitats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.habitat {
    width: 35%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.38);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.habitat h2 {
    margin-top: 0;
}

.habitat img {
    max-width: 100%;
    height: auto;
    width: 60%;
}