body {
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: rgb(74, 114, 40);
    color: white;
    background-image: url("/uploads/images/Commun/fond.jpeg");
    background-size: cover; 
    display: flex;
    flex-direction: column;

}
@media only screen and (max-width: 900px) {
    /* Vos styles existants pour les écrans de petite taille */

    .nav-menu {
        display: none;
    }
    
    .nav-menu.active {
        display: block;
    }
}

@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */

.menu-btn {
    display: none;
}
}

/* ANIMAL_LIST */

.animals{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

}
.animal {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.656);
    margin-bottom: 1%;
    align-items: center;
}
.animal div{
    text-align: center;
}
.animal img{
    width: 30%;
    margin-bottom: 1%;
}

/*FOOTER*/
footer {
    background-color: #000000;
    min-height: 3vh;
    display: flex;
    align-items: center;

}
.footer-links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.footer-links a {
    color: white;
    text-decoration: none;
}