@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */


.banderolePub{
    height: 5%;
    background-color: rgba(74, 114, 40, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carousel{
    width: 70%;
    min-height: 35vh;
    margin: 0 auto;
}
.carousel-inner{
    left: 15%;
    width: 70%;
    background-color: #e9e9e9a8;
}
.avis{
    text-align: center;
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}
h2{
    color: white;
    text-align: center;
    background-color: rgba(54, 85, 28, 0.693);
    margin : 20px auto;
    width: 70%;
}

.nouvelAvis{
    max-width: 100%;
    width: 70%;
    margin: 0 auto;
}

.carousel-control-next{
    background-color: rgba(54, 85, 28, 0.693);
}

.carousel-control-prev{
    background-color: rgba(54, 85, 28, 0.693);
}

nav {
    display: flex;
    background-color: rgba(54, 85, 28, 0.693);
    padding: 10px;
}

nav a {
    color: white;
    border-right: 1px solid black;
    text-decoration: none;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}

h1, .introduction, .horairesOuverture{
    text-align: center;

    content: " Bienvenu au Zoo Arcadia ! ";
}
.introduction{
    background-color: #e9e9e9a8;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.horairesOuverture {
    text-align: center;
    background-color: #5a613eb8;
    color: white;
}
}