@media only screen and (min-width: 601px) {

    .banderolePub{
        height: 5%;
        background-color: rgba(74, 114, 40, 0.5);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    h1{
      content: " Formulaire de contact ";
      text-align: center;
  }

    nav {
        display: flex;
        background-color: rgba(54, 85, 28, 0.693);
        padding: 10px;
    }
    
    nav a {
        color: white;
        border-right: 1px solid black;
        text-decoration: none;
        flex: 1; 
        text-align: center;
        padding: 10px; 
    }

#forumlaire_entity{
  width: 70vh;
}
  form {
      max-width: 80%;
      margin: auto;
      background-color: #586c3f99;
      border: solid white 2px;
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-bottom: 2%;
      height: 70vh;
      align-items: center;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
      text-align: center;
    }
  
    /*input, textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }*/
    input[type="text"], input[type="password"] {
    width: 100%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 3%;
    
  }
    button {
      background-color: #4CAF50;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      
    }
  
    button:hover {
      background-color: #45a049;
    }

  }