@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */

    .habitats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .habitat {
        width: 45%;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .habitat h2 {
        margin-top: 0;
    }
    
    .habitat img {
        max-width: 100%;
        height: auto;
    }
    

.banderolePub{
    height: 5%;
    background-color: rgba(74, 114, 40, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    background-color: rgba(54, 85, 28, 0.693);
    padding: 10px;
}

nav a {
    color: white;
    border-right: 1px solid black;
    text-decoration: none;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}

footer {
    background-color: #333;
    color: white;
    padding: 1%;
    text-align: center;
    position: relative;
    width: 100%;
    height: 2%;
}
.footer-links {
    display: flex;
    padding: initial;
    justify-content: space-evenly;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    
}
.horairesOuverture {
    text-align: center;
}


}