@media only screen and (min-width: 901px) {
    /* Styles pour les écrans plus larges (ordinateurs de bureau, ordinateurs portables) */


.banderolePub{
    height: 5%;
    background-color: rgba(74, 114, 40, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    background-color: rgba(54, 85, 28, 0.693);
    padding: 10px;
}

nav a {
    color: white;
    border-right: 1px solid black;
    text-decoration: none;
    flex: 1; 
    text-align: center;
    padding: 10px; 
}

h1{
    content: " Nos services ";
    text-align: center;
}
h3{
    margin: 3%;
}
.horairesOuverture {
    text-align: center;
}

.service {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    height: 100vh;
}
.serviceSize {
    width: 30%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.38);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.serviceSize img {
    height: 95%;
    margin-bottom: 2%;
    width: auto;
}
.BtnService{
    width: 50%;
    margin: 0 auto;
}
.imgClic{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;

}
}