# Utilisation du front controller en tant que fichier index
DirectoryIndex index.php

# Désactivation des MultiViews
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    # Options pour activer les symlinks si nécessaire
    Options +SymLinksIfOwnerMatch

    RewriteEngine On

    # Réécriture de l'URL en fonction du contexte (base du projet)
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Préservation de l'en-tête HTTP_AUTHORIZATION supprimé par Apache
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirection vers l'URI sans le front controller pour éviter le contenu dupliqué
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Si le fichier demandé existe, le servir directement
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>

# --- Ajout des en-têtes de sécurité ---

# Strict-Transport-Security (HSTS) : Force l'utilisation de HTTPS
<IfModule mod_headers.c>
    # HSTS
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"

    # X-Frame-Options
    Header always set X-Frame-Options "DENY"

    # X-Content-Type-Options
    Header set X-Content-Type-Options "nosniff"

    # X-XSS-Protection
    Header set X-XSS-Protection "1; mode=block"

    # Content Security Policy (CSP)
    Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' cdn.jsdelivr.net code.jquery.com; style-src 'self' 'unsafe-inline' cdn.jsdelivr.net; img-src 'self' data:;"
</IfModule>

