{% include 'HautDePage.html.twig' %}
{% include 'Menu.html.twig' %}

{% block body %}
    <h1></h1>
    <div class="introduction">
        <p>
            Le Zoo Arcadia est un espace naturel construit en 1960 en Bretagne près de la forêt de Brocéliande et qui accueille plus de 150 espèces différentes ! 
            Laissez vous guider à travers un circuit dédié comportant 3 espaces naturels différents : la Savane, la Jungle & le Marais.
            L'écologie étant une préoccupation de chaque jour nous sommes fiers aujourd'hui d'être le premier Zoo de France à être en total autonomie en énergie. 
            Nous accordons également une grande importance au bien-être de chaque espèce, c'est pourquoi plusieurs vétérinaires vérifient chaque jour l'état de santé de nos hôtes, vous pourrez retrouver le suivi en temps réel de chacun d'entre eux !
        </p>
    </div>
    <div class="carrousselImageAccueil"></div>
    <div class="CustomerReviews"></div>
    <div class="horairesOuverture">
        <p>Nos horaires d'ouverture : <br>
            Lundi Mardi Jeudi : 9h30 - 17h30 / Mercredi & Vendredi : 9h00 - 18h00 / Samedi & Dimanche : 9h00 - 19h00
        </p>
    </div>
{% endblock %}

{% include 'BasDePage.html.twig' %}

</body>
</html>
