{% include 'HautDePage.html.twig' %}
{% include 'Menu.html.twig' %}

{% block body %}
    <h1>Liste des habitats</h1>
    <div class="habitats">
        {% for habitat in habitats %}
            <div class="habitat">
                <h2>{{ habitat.getHabitatNom() }}</h2>
                <p>{{ habitat.getHabitatDescription() }}</p>
                <img src="{{ habitat.getHabitatImage() }}" alt="{{ habitat.getHabitatNom() }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% include 'BasDePage.html.twig' %}
