{% include 'HautDePage.html.twig' %}
{% include 'Menu.html.twig' %}
<h1></h1>
<h2></h2>
<div class="contentAll">
    <div class="habitatsGeneral">
        <div class="habitatSpe" id="habitatSavaneAfricaine">
            <p class="habitatTitle">Savane Africaine</p>
            <img src="{{ asset('/uploads/images/Habitats/Savane.jpeg') }}" alt="Savane Africaine">
        </div>
        <div class="habitatSpe" id="habitatForetTropicale">
            <p class="habitatTitle">Forêt Tropicale</p>
            <img src="{{ asset('/uploads/images/Habitats/foretTropicale.jpeg') }}" alt="Forêt Tropicale">
        </div>
    </div>
    
    <div class="habitatsGeneral">
        <div class="habitatSpe" id="habitatAquariumMarin">
            <p class="habitatTitle">Aquarium Marin</p>
            <img src="{{ asset('/uploads/images/Habitats/fondMarins.avif') }}" alt="Aquarium Marin">
        </div>
        <div class="habitatSpe" id="habitatToundraArctique">
            <p class="habitatTitle">Toundra Arctique</p>
            <img src="{{ asset('/uploads/images/Habitats/toundra.jpeg') }}" alt="Toundra Arctique">
        </div> 
    </div>
</div>

{% include 'BasDePage.html.twig' %}
