{% include 'HautDePage.html.twig' %}
{% include 'Menu.html.twig' %}

<h1>Nos services</h1>

<div class="service">
    {% for service in services %}
    <div class="serviceSize">
        <h3>{{ service.getServiceTitre() }}</h3>
        <p>{{ service.getServiceDescription() }}</p>
        <div class="imgClic">
            <img src="{{ service.getServiceImage() }}" alt="{{ service.getServiceTitre() }}">
            <!--<button class="BtnService">En savoir plus</button>-->
        </div>
    </div>
    {% endfor %}
</div>

{% include 'BasDePage.html.twig' %}

