@media only screen and (max-width: 600px) {
    /* Styles pour les écrans de petite taille (mobiles) */

    .element-a-cacher {
        display: none;
    }
    .introduction{
        text-align: center;
    }
    .nav-container {
        text-align: center;
    }
    .carrousselImageAccueil{
        width: 80%;
        height: 35%;
        border: solid 1px black;
        margin: 2vh auto;
    }

          /*Formulaire de connexion*/
    .login-container {
        width: 90%;

        margin: 5%;
    }
    
    .form-group {
        margin-bottom: 5%;
      }
    .login-form{
        background-color: darkgreen;
        padding: 3%;
        border-radius: 3%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    }
    button{
        background-color: rgb(15, 62, 14);
        width: 100%;
        padding: 5%;
        color: #fff;
        border: none;
        border-radius: 3%;
        cursor: pointer;
    }
    .forgot-password a{
        color: white;
        margin-top: 2%;
        text-decoration: none;

    }
    .forgot-password{
        margin-top: 5%;
        text-align: center;

    }
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 3%;
      }
      input[type="text"], input[type="password"] {
        width: 95%;
        padding: 2%;
        border: 1px solid #ccc;
        border-radius: 3%;
        
      }
      button:hover {
        background-color: #309f50;
      }
      .forgot-password a:hover {
        text-decoration: underline;
      }
}