@media only screen and (max-width: 600px) {
    /* Styles pour les écrans de petite taille (mobiles) */

    .element-a-cacher {
        display: none;
    }
    .introduction{
        text-align: center;
    }
    .nav-container {
        text-align: center;
    }

    h2{
        text-align: center;
    }
    .carrousselImageAccueil{
        width: 80%;
        height: 35%;
        border: solid 1px black;
        margin: 2vh auto;
    }


    /*FORMULAIRE DE CONTACT*/
    form{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 61, 25, 0.67);
        margin: 3%;
        padding-bottom: 5%;
        align-items: center;
        height: 80%;
        justify-content: space-evenly;
    }
    .label2{
        display: flex;
        flex-direction: column;
    }
    form label{
        margin: 2% auto;
        color: white;
        text-align: center;

    }
    form textarea{
        width: 90%;
        height: 23vh;
    }
    form input{
        height: 3vh;
        width: 90%;
    }
    form button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-top: 3vh;
    }
    form div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}